In [9]:
import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy.types import VARCHAR, TEXT, BIGINT, DATE, DATETIME
 
def create_mysql_engine():
    engine = create_engine(
        'mysql+pymysql://darlie_youli:SE2!5*gg&8MWH$S@rm-wz9v0k73z34y3f6fqeo.mysql.rds.aliyuncs.com:3306/weis')

    return engine


def select_mysql_sql(egine, mysql_str):
    t = text(mysql_str)
    with egine.connect() as conn:

        result = conn.execute(t).fetchall()
        return result


def execute_sql(egine, mysql_str):
    t = text(mysql_str)
    with egine.connect() as conn:

        result = conn.execute(t)
        conn.commit()
        return result


column_type_mapping = {

    'id': BIGINT,
    'activity_code': VARCHAR(50, collation='utf8mb4_general_ci'),
    'apply_code':  VARCHAR(100, collation='utf8mb4_general_ci'),
    'item_name':  VARCHAR(100, collation='utf8mb4_general_ci'),
    # 'apply_code': VARCHAR(255, collation='utf8mb4_general_ci'),
}

In [10]:
res = pd.read_excel('经销商小程序拍照记录补充活动字段信息20260121(1).xlsx')
# engine = create_mysql_engine()

# res.to_sql(
#         name='activity_reporting_record_tmp',
#         con=engine,
#         if_exists='replace',

#         index=False,
#         dtype=column_type_mapping  # 关键！指定类型
#     )
res = res[['ID','ACTIVITY_CODE','APPLY_CODE','ITEM_NAME']]
res.fillna('',inplace=True)
res.columns = ['id','activity_code','apply_code','item_name']
res
engine = create_mysql_engine()

res.to_sql(
        name='activity_reporting_record_tmp',
        con=engine,
        if_exists='replace',

        index=False,
        dtype=column_type_mapping  # 关键！指定类型
    )

185